/* Universal Selector */
* {
    margin:0;
    padding:0;  
  }
  
  /* Element Selectors */
  body {
    position: relative;
    font-family: 'Courier New', 'Courier New', Courier, monospace;
    font-size: 20px;
    background-color: #008080;
    color: #010081;
  }
  
  h1,
  h2 {
    margin: 20px;
  }
  
  main {
    padding: 60px 0;
  }
  
  li {
    display: inline;
    padding: 0px 20px;
    text-decoration: none;
  }
  
  a {
    text-decoration: none;
    color: #000000;
  }
  
  header,
  footer {
    height: 60px;
    width: 100%;
    line-height: 60px;
    background-color: 
    #008080;
  }
  
  header {
    position: fixed;
    border-bottom: 10px solid #008080;
  }
  
  footer {
    position: absolute;
    margin-top: 0;
    bottom: 0;
    border-bottom: 10px solid #ff0081;
    color: #FDF8F5;    
  }
  
  figure {
    margin-bottom: 40px;
  }
  
  img {
    display: block;
    margin: 20px auto;
  }
  
  section {
    margin-bottom: 0;
    padding: 20px 10px 40px 10px;
    border-top: 3px solid transparent;
    background-color:  #c3c3c3;
  }
  
/* centered the form section and changed the color scheme */
  form {
    margin: 0 auto;
    width: 500px;
    padding: 10px;
    border: 5px solid #010081;
    border-radius: 20px; 
  }
  
  
  label {
    display: inline-block;
    width: 100px;
  }
    
  input, 
  textarea {
    box-sizing: border-box;
    width: 300px;
    border: 1px solid #4F4846;
  }
  
  textarea {
    vertical-align: top;
    height: 60px;
  }
  
  /* styled the "contact me" button pink */
  button {
    height: 40px;
    width: 120px;
    background-color: #ff0081;
    color: #FDF8F5;
  }
   

/* class selectors */

.text-center {
    text-align: center;
    justify-content: center;
  }
  
  .text-right {
    text-align: center;
  }
/* made the project containers into a grid layout in columns of 4 */
  .project-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-auto-rows: minmax(0, 1fr);
    gap: 20px;
    margin: auto;
    max-width: 1200px;
    background-color: transparent;
  }
  
  .project-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; 
    border-radius: 10px;
    overflow: hidden;
    background-color: transparent;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  /* made the project image of windows 98 folder for styling purposes */
  .project-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
    border-radius: 10px 10px 0 0;
  }
  
  .project-card p {
    font-size: 1rem;
    padding: 10px;
    text-align: center;
    margin: 0;
  }
  
  @media (max-width: 768px) {
    .project-image {
      height: 150px;
    }
  
    .project-card p {
      font-size: 0.8rem;
    }
  }
  
  /* inserted profile picture and shifted it to the left for styling/fitting project folder purposes */ 
  img {
    max-width: 100%;
    height: auto;
    float: left;
    margin-right: 20px; 
      }
      

      